/.cpcache/
/.lsp/
/target/
/.nrepl-port
/password.txt
/resources/k8s/admission/ca.json
/resources/k8s/controller/keystore.env
/resources/k8s/controller/server.pkcs12
/resources/k8s/controller/endpoint.env
/ca.crt
/ca.key
/server.conf
/server.crt
/server.csr
/server.key
/server.pkcs12
