{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        compojure/compojure {:mvn/version "1.6.2"}
        ring/ring-jetty-adapter {:mvn/version "1.9.4"}
        ring/ring-json {:mvn/version "0.5.1"}
        io.kubernetes/client-java {:mvn/version "10.0.0"}
        nubank/k8s-api {:mvn/version "0.1.2"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        com.taoensso/timbre {:mvn/version "5.1.2"}}
 :aliases {:jetty
           {:main-opts ["-m" "atomist.adm-ctrl.handler"]}}}
